Diagnostics:
  Suppress:
    - invalid_token_after_toplevel_declarator
    - unknown_typename
    - expected_semi_after_decl
  UnusedIncludes: Strict
CompileFlags:
  Add: [
    "-IC:/raylib/raylib/src",
    "-IC:/raylib/w64devkit/x86_64-w64-mingw32/include"
  ]
